
<div id="outer_container" class="container-fluid">
	<!-- Inner Container which contains all the page elements -->
	<div class="container" style='background-color: #FFEBCC;'>
		<div>
			<h1>Add Movie</h1>
			<hr>
		</div>
		<div>
			<form action="/manage/upload" method="post" enctype="multipart/form-data">
			Extension* : <input type="text" name="extension"/> <br>
			Movie ID* : <input type="text" name="movieid"/>
				<input type="file"
					name="file" /> <input type="submit" />
			</form>
			<form novalidate class="simple-form">
				<table>
				
					<tr>
						<td>Id</td>
						<td></td>
						<td><input type="text" ng-model="movie.id"/></td>
					</tr>
					<tr>
						<td>Name</td>
						<td></td>
						<td><input type="text" ng-model="movie.name"/></td>
					</tr>

					<tr>
						<td>Hashtag</td>
						<td></td>
						<td><input type="text" ng-model="movie.hashTag" /></td>
					</tr>

					<tr>
						<td>Wiki Url</td>
						<td></td>
						<td><input type="text" ng-model="movie.wikiUrl" /></td>
					</tr>

					<tr>
						<td>Songs and Trailers</td>
						<td></td>
						<td><input type="text" ng-model="movie.songsAndTrailers" /></td>
					</tr>

					<tr>
						<td>Video Reviews</td>
						<td></td>
						<td><input type="text" ng-model="movie.videoReviews" /></td>
					</tr>

					<tr>
						<td>Interview and Events</td>
						<td></td>
						<td><input type="text" ng-model="movie.interviewsAndEvents" /></td>
					</tr>
				</table>
				<br /> <input type="submit" ng-click="addNewMovie(movie)"
					value="Add" />
			</form>
		</div>
	</div>
</div>
