<div id="outer_container" class="container-fluid {{color}} height">
	<div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="hideplay">
             <h1 class="text-center" >Game</h1>
             <hr >
        </div>
        <div class= "row"  ng-hide="hideload">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img src="../Images/loading.gif" class="img-responsive center-block"  >
        </div>
        <div class="row">  
            
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ></div>
            <div class="col-lg-6 scol-md-6 col-sm-6 col-xs-12  img-holder bgcolorblack" ng-hide="hideplay" >
                <br><br><br><br><br>
                <div class="row">
                    <a href="#play/{{idlocal}}" ><button type="button" class="btn btn-info center-block" ng-hide="hideplay" ng-click="startplay('computer')" ><b>Play with Computer</b></button></a>
                </div>
                <br><br><br>
                <div class="row">
                    <a href="#play/{{idlocal}}" ><button type="button" class="btn btn-info center-block" ng-hide="hideplay" ng-click="startplay('friend')"><b>Play with Friend</b></button></a>
                 </div>
                 <br><br><br><br><br>
            </div>

            
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h1><b ng-hide="hideplay"> Bollywood Game <b></h1>
             </div>
        </div> 
    </div>
</div>

