<div id="outer_container" class="container-fluid {{color}} height">
	<div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="hideplay">
             <h1 class="text-center" >MoviezTalk</h1>
             <hr>
        </div>

        <div class= "row"  ng-hide="hideload">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img src="../Images/loading.gif" class="img-responsive center-block"  >
        </div>
        <div class="row">  
            
            
            <div class="col-lg-12 scol-md-12 col-sm-12 col-xs-12  img-holder " ng-hide="hideplay" >
                <div class="row text-center"><h2><b>GUESS MOVIE NAME<b></h2></div>
                <div class="row text-center">Click one of the below type to play</div>
                <br>

                <div class="row" >
                    <a href="#play/{{idlocal}}"><div class="col-lg-2 scol-md-2 col-sm-2 col-xs-6 padding_top"><img src="../../design/bollywood.png" class="img-responsive" ng-click="startplay('Bollywood')"></div></a>
                    <div class="col-lg-1 scol-md-1 col-sm-1 col-xs-0"></div>
                    <a href="#play/{{idlocal}}"><div class="col-lg-2 scol-md-2 col-sm-2 col-xs-6 padding_top"><img src="../../design/hollywood.png" class="img-responsive" ng-click="startplay('Hollywood')"></div></a>
                    <div class="col-lg-1 scol-md-1 col-sm-1 col-xs-0"></div>
                    <a href="#play/{{idlocal}}"><div class="col-lg-2 scol-md-2 col-sm-2 col-xs-6 padding_top"><img src="../../design/tollywood.png" class="img-responsive" ng-click="startplay('Tollywood')"></div></a>
                    <div class="col-lg-1 scol-md-1 col-sm-1 col-xs-0"></div>
                    <a href="#play/{{idlocal}}"><div class="col-lg-2 scol-md-2 col-sm-2 col-xs-6 padding_top"><img src="../../design/kollywood.png" class="img-responsive" ng-click="startplay('Kollywood')"></div></a>

<!-- </div>
                 <div class="row">
                  <b class ="fgcolorwhite">Step 1: Select Movie Type: (Bollywood / Hollywood / Tollywood...)
                   </b>
                   <br><br>
                         <div class="row" style ='background-color: #FFFFF;'>
                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                             <div   class="dropdown col-lg-6 col-md-6 col-sm-6 col-xs-6 " style ='background-color: #FFFFF;'>
                             <button class="btn btn-info dropdown-toggle " type="button" id="menu1" data-toggle="dropdown"><b>{{selectedindustry}}</b>
                             <span class="caret"></span></button>
                             <ul class="dropdown-menu " role="menu" aria-labelledby="menu1">
                                  <li style="text-align: center;" role="presentation" ng-repeat='industry in industryList'>
                                     <a ng-click="selIndustry(industry)" > {{industry}} </a>
                                  </li>
                             </ul>
                         </div>
                  
                      </div>
                  
                </div>
                <div class="row">
                  <b class="fgcolorwhite">Step 2:</b>
                  <br><br>
                     <div class="row" style ='background-color: #FFFFF;'>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="#play/{{idlocal}}" ><button type="button" class="btn btn-info " ng-hide="hideplay" ng-click="startplay('computer')" ><b>Play with Computer</b></button></a>
                </div>
              </div>
              </div>
                <br><br><br>
                  -->  
                <!--div class="row">

                    <a href="#play/{{idlocal}}" ><button type="button" class="btn btn-info center-block" ng-hide="hideplay" ng-click="startplay('friend')"><b>Play with Friend..Coming Soon</b></button></a>

                 </div>
<br><br><br><br><br>
               -->
                 
            </div>


            
        </div>
       <!-- <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h1><b ng-hide="hideplay"> Guess The Movie Name??? <b></h1>
             </div>
        </div> 
      -->
    </div>
</div>

