
<div class="panel panel-success margin">
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-success ">
					<div class="panel-heading">

						<div>Latest Release</div>
					</div>
					<div class="panel-body">
						<div ng-repeat="movie in latest_movies">
							<div class="row">
								<div class="col-lg-6">{{movie.name}}</div>
							</div>

						</div>
					</div>



				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-success ">
					<div class="panel-heading">

						<div>UpComing to be Released</div>
					</div>
					<div class="panel-body">
						<div ng-repeat="movie in upcoming_movies">
							<div class="row">
								<div class="col-lg-6">{{movie.name}}</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


</div>