<div class="row">

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div>
			<img ng-src="{{movieobj.imageUrl}}" class="img-responsive">
		</div>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				OverAll
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
				
					<uib-rating ng-model="movieobj.overall.rating" max="5" read-only="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
				
			</div>	
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Story</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  ">
				
					<uib-rating ng-model="movieobj.story.rating" max="5" read-only="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
				
			</div>

		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				Acting
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  ">

			
					<uib-rating ng-model="movieobj.acting.rating" max="5" read-only="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
			
                
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				Direction
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  ">

			
					<uib-rating ng-model="movieobj.direction.rating" max="5" read-only="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
			
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Music</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  ">
			
					<uib-rating ng-model="movieobj.music.rating" max="5" read-only="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
			
                
			</div>
		</div>
		
		<br>
		
		<div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Name</div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 top-buffer ">{{movieobj.name}}
		    </div>
        </div>
        
        <div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Director</div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 top-buffer ">{{movieobj.director}}
		    </div>
        </div>
        
        <div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Actors</div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 top-buffer ">
		                 <div ng-repeat="actor in movieobj.actors" >
								{{actor}}
						</div>
		    </div>
        </div>
        
        <div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Release Date</div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 top-buffer ">{{movieobj.releaseDate}}
		    </div>
        </div>
        
        <div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Box Office</div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 top-buffer ">{{movieobj.boxOffice}}
		    </div>
        </div>
        
        <div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Budget</div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 top-buffer ">{{movieobj.budget}}
		    </div>
        </div>
        
       
	</div>
</div>
								