
<div class="panel-heading">Top overall comments</div>
<div class="panel-body">
	<div class="col-lg-6 col-md-6 col-sm-6 col-sm-12 ">
    <div class="panel panel-default">
      <div class="panel-heading">Positive Reviews</div>
      <div class="panel-body">
        <div ng-repeat="positiveReview in movieobj.overall.positiveReviews">
          <div>{{positiveReview +" "+ $index}}</div>
          <hr>
        </div>
        <nav>
          <ul class="pager">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span>
                Previous</a></li>
            <li class="next"><a href="#">Next <span
                aria-hidden="true">&rarr;</span></a></li>
          </ul>
        </nav>

      </div>
    </div>
  </div>

	<div class="col-lg-6 col-md-6 col-sm-6 col-sm-12 ">
		<div class="panel panel-default">
			<div class="panel-heading">Negative Reviews</div>
			<div class="panel-body">
				<div ng-repeat="negativeReview in movieobj.overall.negativeReviews">
					<div>{{negativeReview}}</div>
					<hr>
				</div>
				<nav>
					<ul class="pager">
						<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span>
								Previous</a></li>
						<li class="next"><a href="#">Next <span
								aria-hidden="true">&rarr;</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
