
<div class="row top-buffer">
	<div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
		<div class="bs-example">
			<!-- Button HTML (to Trigger Modal) -->
			<a data-target="#myModal1" class="btn btn-lg btn-primary"
				ng-click="initialize()" data-toggle="modal"><img
				ng-src="http://img.youtube.com/vi/k99-vMPh3-A/0.jpg"
				class="img-responsive col-xs-12" /></a>

			<!-- Modal HTML -->
			<div id="myModal1" class="modal fade" ng-init="isModalVisible=1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" ng-click="toggle()">x</button>
							<h4 class="modal-title">YouTube Video</h4>
						</div>
						<div class="modal-body">
							<div class="embed-responsive embed-responsive-4by3">
								<iframe class="embed-responsive-item" ng-src="{{embeddedURL1}}"
									frameborder="0" allowfullscreen></iframe>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
		<div class="bs-example">
			<!-- Button HTML (to Trigger Modal) -->
			<a data-target="#myModal" class="btn btn-lg btn-primary"
				ng-click="initialize()" data-toggle="modal"><img
				ng-src="http://img.youtube.com/vi/k99-vMPh3-A/0.jpg"
				class="img-responsive col-xs-12" /></a>

			<!-- Modal HTML -->
			<div id="myModal" class="modal fade" ng-init="isModalVisible=1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" ng-click="toggle()">x</button>
							<h4 class="modal-title">YouTube Video</h4>
						</div>
						<div class="modal-body">
							<div class="embed-responsive embed-responsive-4by3">
								<iframe class="embed-responsive-item" ng-src="{{embeddedURL}}"
									frameborder="0" allowfullscreen></iframe>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
		<div class="bs-example">
			<!-- Button HTML (to Trigger Modal) -->
			<a data-target="#myModal" class="btn btn-lg btn-primary"
				ng-click="initialize()" data-toggle="modal"><img
				ng-src="http://img.youtube.com/vi/k99-vMPh3-A/0.jpg"
				class="img-responsive col-xs-12" /></a>

			<!-- Modal HTML -->
			<div id="myModal" class="modal fade" ng-init="isModalVisible=1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" ng-click="toggle()">x</button>
							<h4 class="modal-title">YouTube Video</h4>
						</div>
						<div class="modal-body">
							<div class="embed-responsive embed-responsive-4by3">
								<iframe class="embed-responsive-item" ng-src="{{embeddedURL}}"
									frameborder="0" allowfullscreen></iframe>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row  top-buffer">
	<div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
		<div class="bs-example">
			<!-- Button HTML (to Trigger Modal) -->
			<a data-target="#myModal" class="btn btn-lg btn-primary"
				ng-click="initialize()" data-toggle="modal"><img
				ng-src="http://img.youtube.com/vi/k99-vMPh3-A/0.jpg"
				class="img-responsive col-xs-12" /></a>

			<!-- Modal HTML -->
			<div id="myModal" class="modal fade" ng-init="isModalVisible=1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" ng-click="toggle()">x</button>
							<h4 class="modal-title">YouTube Video</h4>
						</div>
						<div class="modal-body">
							<div class="embed-responsive embed-responsive-4by3">
								<iframe class="embed-responsive-item" ng-src="{{embeddedURL}}"
									frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
		<div class="bs-example">
			<!-- Button HTML (to Trigger Modal) -->
			<a data-target="#myModal" class="btn btn-lg btn-primary"
				ng-click="initialize()" data-toggle="modal"><img
				ng-src="http://img.youtube.com/vi/k99-vMPh3-A/0.jpg"
				class="img-responsive col-xs-12" /></a>

			<!-- Modal HTML -->
			<div id="myModal" class="modal fade" ng-init="isModalVisible=1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" ng-click="toggle()">x</button>
							<h4 class="modal-title">YouTube Video</h4>
						</div>
						<div class="modal-body">
							<div class="embed-responsive embed-responsive-4by3">
								<iframe class="embed-responsive-item" ng-src="{{embeddedURL}}"
									frameborder="0" allowfullscreen></iframe>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
		<div class="bs-example">
			<!-- Button HTML (to Trigger Modal) -->
			<a data-target="#myModal" class="btn btn-lg btn-primary"
				ng-click="initialize()" data-toggle="modal"><img
				ng-src="http://img.youtube.com/vi/k99-vMPh3-A/0.jpg"
				class="img-responsive col-xs-12" /></a>

			<!-- Modal HTML -->
			<div id="myModal" class="modal fade" ng-init="isModalVisible=1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" ng-click="toggle()">x</button>
							<h4 class="modal-title">YouTube Video</h4>
						</div>
						<div class="modal-body">
							<div class="embed-responsive embed-responsive-4by3">
								<iframe class="embed-responsive-item" ng-src="{{embeddedURL}}"
									frameborder="0" allowfullscreen></iframe>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>