.body
{
    padding-left:   0px;
	padding-right:  0px;
	padding-top:    0px;
	padding-bottom: 0px;	
	
	
}

.container-fluid
{
	background-image: url(../Images/container_fluid_background_image1.png);
	background-size: 100%;
	
}

.padding_top_10{
   padding-top: 10px;
}

.bgcolor {
	background-color: red;
}

.padding_top
{
	padding-top: 10px;
	margin-top: 10px;
}

.padding {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.padding_image {
	padding-left: 0.5px;
	padding-right: 0.5px;
}

.margin {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.carousel-control.left,.carousel-control.right {
	background-image: none;
}

.radius {
	radius: 2px;
}

.btn-space {
    margin-left: 5px;
    margin-bottom: 5px;
    background: #8A8A5C;
    color: #ffffff;
    font-weight: 800;
}

.bgbodycolor
{
	background-color: #FFD464;
}
.bgcolorwhite
{
	background-color: white;
}

.fgcolorwhite
{
	color: white;
}

.bgcolorblack
{
	background-color: black;
}

.bgcolornew
{
	background-color:  #dfded4;
}

.bgcolorinstruct
{
	
}

.img-center {
  margin: 0 auto;
}

.bgcolorpink{

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.height
{
	height: 100%;
}

.scroll
{
	height : 233px;
	overflow: auto;
}
.img-holder {position: relative;}

.img-holder .link {
    position: absolute;
    bottom: 220px; 
    right: 220px; 
}

.img-holder .link1 {
    position: absolute;
    bottom: 130px; 
    right: 240px; 
}

